{% extends "base.html" %}
{% block content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <img src="{{ thumbnail }}" style="float:right" />
        <h1>Marketing for Hackers</h1>
        <p>The step-by-step guide to turn your weekend project into paying customers.</p>
        <p>by <strong>Hartley Brody</strong></p>
      </div>

      <!-- sub calls to action -->
      <div class="row">
        <div class="span-one-third">
          <h2>Marketing</h2>
          <p>Hartley works on the marketing team at <a href="http://www.hubspot.com/" target="_blank">HubSpot</a> where he gets to build cool things and work with great people. He's worked on everything from community management to video production, and has contributed to the award-winning blog.</p>
          <p><a href="http://orient.bowdoin.edu/orient/article.php?date=2011-01-21&section=4&id=5" target="_blank">Before HubSpot</a>, he built two highly-visited music websites, using content marketing as well as guerilla and social promotion.</p>
        </div>
        <div class="span-one-third">
          <h2>Hacking</h2>
           <p>Not satisified with his academic education, <a href="http://www.hartleybrody.com/" target="_blank">Hartley</a> began teaching himself HTML, CSS and PHP as a freshman in college.</p>
           <p>Since joining HubSpot, he's fallen in love with agile development and adopted a "<em>get shit done</em>" mantra.</p>
           <p>He's currently reading books on Python & Django, as well as network infrastructure, responseive web design and disruptive business tactics.</p>
       </div>
        <div class="span-one-third">
          <h2>Download the eBook!</h2>
          <p><strong>Sign up before January 31<sup>st</sup> to receive the first 2 chapters by email and get started today.</strong></p>
          <p>The complete guide is coming in the spring. By signing up now, you'll be the first to know when it's ready.</p>
          <p><a href="/">Sign up now &raquo; </a></p>
       </div>
      </div>
{% endblock %}