{% extends "base.html" %}
{% block content %}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>You're almost there...</h1>
        <p id="to-remove">The first two chapters are on their way. Share the news with your followers?</p> 
        
        <p id="to-change">
            <img src="http://hartleybrody.com/sandbox/red-arrow.jpg" style="float:left; margin-left:80px"/>
            
            <span style="position:relative; top:30px">
                <a href="http://twitter.com/intent/tweet" class="twitter-share-button" data-lang="en" data-url="http://marketingforhackers.com/" data-text="Marketing for Hackers: The step-by-step guide to turn your weekend project into paying customers" data-count="vertical" data-size="large">Tweet</a>
            </span>
        </p>
      </div>

      <!-- sub calls to action -->
      <div class="row">
        
      </div>
      
{% endblock %}

{% block footer %}
        
        <!-- twitter web intents -->
        <script type="text/javascript" charset="utf-8">
                // First, load the widgets.js file asynchronously 
          window.twttr = (function (d,s,id) {
            var t, js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
            js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
            return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
          }(document, "script", "twitter-wjs"));
         
        // Wait for the asynchronous resources to load
        twttr.ready(function (twttr) {
            // Now bind our custom intent events
            twttr.events.bind('tweet', function(){
                document.getElementById('to-change').innerHTML= "Thanks for sharing! You're awesome.";
                //document.getElementById('to-remove').innerHTML= "";
            });
        });
        </script>
        
        <!-- google adwords tracking -->
            <!-- Google Code for eBook Download Conversion Page -->
            <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 950945448;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "705dCOCYpQMQqI25xQM";
            var google_conversion_value = 0;
            /* ]]> */
            </script>
            <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
            </script>
            <noscript>
            <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/950945448/?label=705dCOCYpQMQqI25xQM&amp;guid=ON&amp;script=0"/>
            </div>
            </noscript>

        
{% endblock %}