<h2>Share the fun!</h2>
            <div class="sharing-button">
                <a href="http://twitter.com/intent/tweet" class="twitter-share-button" data-lang="en" data-url="http://marketingforhackers.com/" data-text="Marketing for Hackers: The step-by-step guide to turn your weekend project into paying customers" data-count="vertical">Tweet</a>
            </div>
            <div class="sharing-button">
                <div class="fb-like" data-href="http://marketingforhackers.com" data-send="false" data-layout="box_count" data-width="35" data-show-faces="false" data-font="tahoma"></div>
            </div>
            <div class="sharing-button">
                <g:plusone size="tall"></g:plusone>
            </div>
            
            
            
            
        <!-- google plus -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
        
        <!-- facebook sharing -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=178700785535135";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>